div#main {
    padding: 1% 0 0 3%;
    position: static;
    width: 87%;
    height: 99%;
    float: right;
}
#logo {
    position: absolute;
    width: 70px;
    height: 70px;
}
#title {
    display: inline;
    vertical-align: top;
    margin: 0 10% 0 10%;
    font-size: 30px;
}
#subtitle {
    margin-top: -0.5%;
    margin-left: 10%;
    font-size: 26px;
}
.sidelink {
    display: inline;
    vertical-align: top;
    margin: 1%;
}
#habout {
    margin-left: 14%;
}
#search {
    margin: 0 10% 5%;
    width: 75%;
    height: 3%;
}
#searchbutton {
    width: 36.9px;
    float: right;
}
#searchinput {
    width: 750px;
    height: 38.7px;
    padding-left: 1.5%;
    font-size: 16px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 15px;
    background-color: rgb(220, 220, 220);
}
footer {
    position: absolute;
    width: 84%;
    margin-top: 15%;
    margin-left: 0%;
    padding: 0.8%;
    background-color: #156082;
    color: aliceblue;
}
#footer1 {
    display: inline-block;
    margin-left: 2%;
}
#footer2 {
    float: right;
    margin-right: 2%;
}